body
{
    width: 800px;
}

.container
{
    clear: both;
    margin: 0 auto;
    width: 100%;
}

.container-left
{
    background: #aaa;
    width: 350px;
    /*height: 100%;*/
    border-radius: 5px;
}

.container-right
{
    background: #aaa;
}

.list
{
    padding-top: 5px;
    background: #ccc;
    width: 90%;
}

.list > ul > li
{
    cursor:pointer;
}

figure
{
    margin: 0;
    padding: 0;
}

#artist_avatar
{
    margin: 0;
    padding: 0;
    /*float: right;*/
}

.remove
{
    cursor:pointer;
    margin: 0;
    float: right;
}

.current_song
{
    color:blue;
    font-weight:bold;
}

#lyrics {
    line-height:25px;
    height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:13px;

    padding-top:50px;
    padding-left:20px;
    padding-bottom:50px;
}

.current_line
{
    color:blue;
    font-weight:bold;
}

.loop
{
    cursor:pointer;
    margin: 0;
    padding: 0;
    float: right;
}

#loop_status
{
    float: right;
    font-size:10px;
}
