body
{
    width: 800px;
}

.container
{
    clear: both;
    margin: 0 auto;
    width: 100%;
}

.container-left
{
    background: #ccc;
    width: 65%;
    border-radius: 5px;
}

.container-right
{
    background: #ccc;
    width: 35%;
}

#lyrics {
    line-height:25px;
    height:200px;
    overflow-y:scroll;
    text-align:left;
    font-size:13px;

    padding-top:50px;
    padding-left:20px;
    padding-bottom:50px;
}

.current_line
{
    color:blue;
    font-weight:bold;
}